{% extends 'base.html.twig' %}

{% block title'Agence Prestige' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Agence Prestige</h1>
        <p>je ne sais pas ce que je vais mettre dans ce paragraphe mais bon je crois qui'il est bon de faire comme ceci!</p>
    </div>

    <div class="container">
        <h2>les derniers biens</h2>
        <div class="row flex">
            
        </div>
    </div>

{% endblock %}
