html, body{
    height:100%;}
.conteneur{
    background-color: teal;
}

.bd-sidebar {
    position: sticky;
    
}

.menu{
    border-radius: 50px;
    float: left;
    width: 300px;
    background-color: rgba(9, 175, 175, 0.829);
    height: 550px;
}
.main{
    height: 100%;
    width: 100%;
}

.menu1{
    height: 550px;
    background-color: white;

}

.navbar{
        background-color: #3a45be9d;
        top: 10px;
        border-radius: 20px;
}

.foot {
    text-align: center;
    background: rgba(9, 175, 175, 0.829);
    max-width:100%;
}

.bs-example{
    margin: 20px;
}
.accordion .fa{
    margin-right: 0.5rem;
}